@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(pt-sans.ttf) format('truetype');
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* Inbox */

.hamburger {
    background-image:url('../img/Inbox.png');
    background-repeat: no-repeat;
    width: 55px;
    height: 40px;
}

/* message list */

.message-list {
    background-color: #f9f9f9;
    padding: 46px 15px;
    width: 314px;

    ul {
        list-style-type: none;
    }

    @mixin marked {
        background-color: #00c6ff;
        color: #ffffff;
        .from {
            color: #ffffff;
        }
    }
    @mixin unmarked {
        color: #000000;
        .from {
            color: #00c6ff;
        }
    }

    li {
        background-color: #ffffff;
        margin: 8px 0;
        padding: 10px 0;
        height: 85px;

        @include unmarked;

        &:hover {
            background-color: #f9f9f9;
        }
        &:hover.selected {    
            @include marked;
        }

        p {
            margin-left: 32px;
            margin-right: 32px;
        }
        p.from {
            font-size: 1.5em;
        }
        p.subject {
            font-size: 0.875em;
            font-weight: bold;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
        p.text-preview {
            font-size: 0.875em;
            height: 2em;
            overflow: hidden;
        }
    }
    li.selected {
        @include marked;
    }
}

