// Typography
// -------------------------------------------
$font-size-base:                    16px;
$font-size-small:                   14px;
$font-size-smaller:                 12px;
$font-size-big:                     18px;
$font-size-bigger:                  22px;

$font-family-base:                  "PT Sans", Arial, sans-serif;

$line-height-base:                  20 / 16;

// Colors
// -------------------------------------------

$color-black:                       #000;
$color-white:                       #fff;
$color-blue:                        #00c6ff;
$color-red:                         #ff878d;
$color-grey:                        #666;
$color-grey-input:                  #949494;
$color-grey-dark:                   #333;
$color-grey-medium:                 #999;
$color-grey-light:                  #ccc;
$color-grey-lighter:                #ddd;
$color-grey-lighterer:              #f0eff5;
$color-grey-lightest:               #f9f9f9;
$color-grey-dark-alpha:             rgba(0, 0, 0, 0.80);

// Semantic Colors
// -------------------------------------------

$color-bg:                          $color-white;
$color-text:                        $color-grey-dark;
$color-text-light:                  $color-grey-medium;
$color-main:                        $color-blue;
$color-main-text:                   $color-white;
$color-error:                       $color-red;
$color-error-text:                  $color-white;
$color-border-light:                $color-grey-lighter;
$color-touch-active:                rgba(0, 0, 0, 0.1);

// Breakpoints
// -------------------------------------------

$screen-sm-max:                     840px;
$screen-md-min:                     841px;
$screen-md-max:                     1280px;
$screen-lg-min:                     1281px;

// Layout
// -------------------------------------------

$content-nav-width:                 344px;

$lightbox-padding:                  15px;
$lightbox-max-width:                662px;
$lightbox-width:                    90%;
$lightbox-min-height:               644px;
