// Reset the box-sizing

*,
*:before,
*:after {
    box-sizing: border-box;
}

// Body reset

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// add space at the top since ios7 apps are now fullscreen
.ios-spacer {
    padding-top: 20px;
}

// Basic layout
.main-app-view {
    height: 100%;

    // allow text selection
    -webkit-user-select: text;

    // make scrollbars invisible
    ::-webkit-scrollbar {
        width: 0px;
    }

    // remove flickering on item touch selection in ios
    * {
        -webkit-tap-highlight-color: transparent !important;
    }
}