// Third party libs
@import "lib/angular-csp"; // use angular csp specific classes
@import "lib/scut";
@import "lib/normalize";

// Config
@import "base/config"; // Modify this for custom colors, font-sizes, etc

// Mixins
@import "mixins/responsive";
@import "mixins/scrollbar";

// Bootstrap
@import "base/fonts";
@import "base/scaffolding";

// Utilities classes

@import "utilities/responsive";

// Components (TODO: refactor to BEM)
@import "components/lightbox";
@import "components/dialog";

// Views (TODO: refactor to BEM)
@import "views/shared";
@import "views/add-account";
@import "views/account";
@import "views/privatekey-upload";
@import "views/set-passphrase";
@import "views/contacts";
@import "views/about";
@import "views/dialog";
@import "views/login";

// Blocks
// (BEM-like Naming, see http://cssguidelin.es/#bem-like-naming)

@import "blocks/basics/buttons";
@import "blocks/basics/labels";
@import "blocks/basics/form";
@import "blocks/basics/spinner";
@import "blocks/basics/tags-input";
@import "blocks/basics/mail-addresses";
@import "blocks/basics/attachments";
@import "blocks/basics/tooltip";
@import "blocks/basics/dropdown";
@import "blocks/basics/toolbar";
@import "blocks/layout/app";
@import "blocks/layout/nav";
@import "blocks/layout/action-bar";
@import "blocks/layout/mail-list-wrapper";
@import "blocks/views/mail-list";
@import "blocks/views/read";
@import "blocks/views/write";
