node_modules/
npm-debug.log
.DS_Store
*-browserified.js
test/new-unit/lib/
.sass-cache
dist/
src/lib/*.js
src/js/crypto/aes-cbc.js
src/js/crypto/crypto-batch.js
src/js/crypto/rsa.js
src/js/crypto/util.js