<div class="lightbox-body" ng-controller="AccountCtrl">
  <header>
    <h2>Account</h2>
    <button class="close" ng-click="state.account.toggle(false)" data-action="lightbox-close">&#xe007;</button>
  </header>

  <div class="content">
    <div class="view-account">
      <table>
        <tbody>
          <tr>
            <td>Email</td>
            <td>{{eMail}}</td>
          </tr>
          <tr>
            <td>PGP Key ID</td>
            <td>{{keyId}}</td>
          </tr>
          <tr>
            <td>PGP Fingerprint</td>
            <td><span>{{fingerprint}}</span></td>
          </tr>
          <tr>
            <td>Key Size (RSA)</td>
            <td>{{keysize}} bit</td>
          </tr>
        </tbody>
      </table>
      <div class="export-control">
        <button ng-click="exportKeyFile()" class="btn">Export keypair</button>
      </div>
    </div><!-- /.view-account -->
  </div><!-- /.content -->
</div><!-- /.lightbox-body -->