<div class="lightbox-body" ng-controller="ContactsCtrl">
  <header>
    <h2>Contacts</h2>
    <button class="close" wo-touch="state.contacts.toggle(false)" data-action="lightbox-close">
      <svg><use xlink:href="#icon-close" /><title>Close</title></svg>
    </button>
  </header>

  <div class="content">
    <div class="view-contacts">

      <div class="key-controls">
        <div class="key-controls-search">
          <input class="input-text" type="text" placeholder="Search..." ng-model="searchText">
        </div>
        <div class="key-controls-import">
          <input id="keyfile-input" type="file" multiple accept=".asc" keyfile-input>
          <button class="btn" ng-class="{'btn--invalid': sendBtnSecure === false}" keyfile-btn>Import keys</button>
        </div>
      </div>

      <div class="key-list">
        <div class="key-list-scroll">
          <table>
            <tr>
              <th>Key ID</th>
              <th>Email</th>
              <th>Created</th>
              <th>Size</th>
            </tr>
            <tr ng-repeat="key in keys | orderBy:'userId' | filter:searchText">
              <td class="hover" ng-mouseover="getFingerprint(key)" wo-tooltip="#fingerprint-contact">{{key._id.slice(8)}}</td>
              <td>{{key.userId}}</td>
              <td>{{key.created | date:'mediumDate'}}</td>
              <td>{{key.bitSize}} bit</td>
              <td><button class="remove" wo-touch="removeKey(key)"><svg><use xlink:href="#icon-close" /><title>Delete</title></svg></button></td>
            </tr>
          </table>
        </div><!--/.key-list-scroll-->

        <!-- tooltips -->
        <div id="fingerprint-contact" class="tooltip">
          <div class="tooltip__title">Fingerprint</div>
          <div class="tooltip__content">{{fingerprint}}</div>
        </div><!--/.tooltip-->
      </div><!--/.key-list-->

    </div><!-- /.view-contacts -->
  </div><!-- /.content -->



</div><!-- /.lightbox-body -->