<div data-role="header" data-position="fixed">
  <a href="#" data-role="button" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Logout</a>
  <h1><%- account %></h1>
</div><!-- /header -->

<div data-role="content">
  <ul id="folder-list" data-role="listview"></ul>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
  <h4></h4>
  <a href="#compose/<%- account %>" data-role="button" data-icon="plus" data-iconpos="notext" class="ui-btn-right"></a>
</div><!-- /footer -->