<div class="view-login">

  <div class="logo-wrapper">
    <div class="logo"></div>
  </div><!--/logo-->

  <div class="content">
    <h1>Unlock mailbox</h1>

    <p>Please enter your passphrase to unlock the mailbox.</p>

    <form>
      <div>
       <input type="password" ng-model="passphrase" class="passphrase" placeholder="Passphrase" tabindex="1" focus-me="true">
      </div>
      <div>
        <button type="submit" ng-click="confirmPassphrase()" class="btn" ng-disabled="!passphrase" tabindex="3">Unlock</button>
      </div>
    </form>
  </div><!--/content-->

</div>