<section class="page">
  <div class="page__canvas">
    <header class="page__header">
      <img src="img/whiteout_logo.svg" alt="whiteout.io">
    </header>
    <main class="page__main">
      <h2 class="typo-title">Unlock mailbox</h2>
      <p class="typo-paragraph">Please enter your passphrase to unlock the mailbox.</p>
      <form class="form" name="form">
        <p class="form__error-message" ng-show="errMsg">{{errMsg}}</p>

        <div class="form__row">
          <input type="password" ng-model="passphrase"
            class="input-text input-text--big" ng-class="{'input-text--error':incorrect}"
            placeholder="Passphrase" tabindex="1" wo-focus-me="true" required>
        </div>
        <div class="spinner-block" ng-show="busy">
          <span class="spinner spinner--big"></span>
        </div>
        <div class="form__row">
          <button class="btn btn--big" type="submit" ng-click="confirmPassphrase()" tabindex="2">
            <svg role="presentation"><use xlink:href="#icon-decrypted" /></svg>
            Unlock
          </button>
        </div>
      </form>
      <p class="typo-paragraph">
        <a href="#" wo-touch="$event.preventDefault(); logout()" title="Remove account from device">Forgot your passphrase?</a>
      </p>
    </main>
    <div ng-include="'tpl/page-footer.html'"></div>
  </div>
</section>