<div class="view-login">

  <div class="logo-wrapper">
    <div class="logo"></div>
  </div><!--/logo-->

  <div class="content">
    <h1>Set passphrase</h1>

    <p>The passphrase protects your private key.</p>
    <p>If you forget your passphrase, there is no way to restore your data. So it might be a good idea to write it down and keep it in a safe place.</p>

    <form>
      <div>
        <input type="password" ng-model="passphrase" placeholder="Enter passphrase" tabindex="1" focus-me="true">
        <input type="password" ng-model="confirmation" placeholder="Confirm Passphrase" tabindex="2">
      </div>
      <div>
        <button type="submit" ng-click="confirmPassphrase()" class="btn" ng-disabled="!passphrase || passphrase!==confirmation" tabindex="3">Generate keypair</button>
      </div>
    </form>
  </div><!--/content-->

</div>