<div class="view-login">

  <div class="logo-wrapper">
    <div class="logo"></div>
  </div><!--/logo-->

  <div class="content" ng-show="state === states.IDLE">
    <h1>Set passphrase</h1>

    <p>If you forget your passphrase, there is no way to restore your data. So it might be a good idea to write it down and keep it in a safe place.</p>

    <form>
      <div>
        <input type="password" ng-model="passphrase" placeholder="Enter passphrase" tabindex="1" focus-me="true">
        <input type="password" ng-model="confirmation" ng-class="{error: confirmation !== passphrase}" placeholder="Confirm passphrase" tabindex="2">
      </div>
      <div>
        <button type="submit" ng-click="confirmPassphrase()" class="btn" ng-disabled="!passphrase || passphrase!==confirmation" tabindex="3">Generate keypair</button>
      </div>
    </form>
  </div><!--/content-->

  <div class="content" ng-show="state === states.PROCESSING">
    <h1>Generating keypair</h1>

    <p>A batch of highly trained monkeys has been dispatched to collect entropy for your personal keypair. Please stand by...</p>
  </div><!--/content-->

  <div class="content" ng-show="state === states.DONE">
    <h1>Keypair generated</h1>

    <p>A keypair has been generated for you. Please store this key pair in a safe location before you proceed.</p>
    <button ng-click="exportKeypair()" class="btn" tabindex="4">Export keypair</button>
    <button ng-click="proceed()" ng-disabled="!exported" class="btn" tabindex="4">Proceed</button>
  </div><!--/content-->

</div>