<div class="view-login view-login-set-credentials">

  <div class="logo">
    <img src="img/whiteout_logo.svg" alt="whiteout.io">
  </div><!--/logo-->

  <div class="content">
    <p ng-hide="useOAuth"><b>Login.</b> Please enter your email address and password. The password is used to authenticate directly with your mail provider and is not sent to our servers.</p>
    <p ng-show="useOAuth"><b>Login.</b> Please confirm your email address. Your account will authenticate directly with your mail provider. Your credentials are never sent to our servers.</p>

    <form name="form">

      <div>
        <fieldset class="connection-error" ng-show="connectionError">
          <legend>Connection Error</legend>
          <p class="input-error-message">{{connectionError.message}}</p>
          <p ng-show="connectionError.underlyingError" class="input-error-message">Underlying Cause: {{connectionError.underlyingError.message}}</p>
          <a class="input-error-message" href="https://github.com/whiteout-io/mail-html5/wiki/FAQ#troubleshooting" target="_blank">Find out more in the FAQ.</a>
        </fieldset>

        <label class="input-error-message" ng-show="form.$invalid || credentialsIncomplete">Please fill out all required fields!</label>
        <br>
        <input class="input-text" type="email" required ng-model="emailAddress" placeholder="Email address" focus-me="true" tabindex="1" spellcheck="false"></input>
        <input class="input-text" type="text" ng-model="realname" placeholder="Full name (optional)" tabindex="2"></input>
        <input ng-hide="useOAuth" ng-required="!useOAuth" class="input-text" ng-class="{'input-text--error': connectionError}" type="password" ng-model="password" placeholder="Password" tabindex="3">
      </div><!--/credentials-->

      <a href="#" wo-touch='showDetails = !showDetails; $event.preventDefault()'>{{showDetails ? "Hide Options" : "Show Options"}}</a>

      <div class='details' ng-show='showDetails'>
        <input ng-hide="useOAuth" class="input-text username" type="text" ng-model="username" placeholder="User (optional)"></input>

        <fieldset>
          <legend>IMAP</legend>
          <div>
            <input required ng-disabled="hasProviderPreset" class="input-text" type="text" ng-model="imapHost" placeholder="Host" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$|^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$"></input>
            <input required ng-disabled="hasProviderPreset" class="input-text" type="number" ng-model="imapPort" placeholder="Port" min="0" max="65535" step="1" pattern="\d+"></input>
          </div>
          <label>
            <select class="input-text" required ng-disabled="hasProviderPreset" ng-model="imapEncryption">
              <option value="" disabled selected style="display:none">Encryption method</option>
              <option value="2">TLS</option>
              <option value="1">STARTTLS</option>
              <option value="0">None</option>
            </select>
          </label>
        </fieldset>

        <fieldset>
          <legend>SMTP</legend>
          <div>
            <input required ng-disabled="hasProviderPreset" class="input-text" type="text" ng-model="smtpHost" placeholder="Host" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$|^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$"></input>
            <input required ng-disabled="hasProviderPreset" class="input-text" type="number" ng-model="smtpPort" placeholder="Port" min="0" max="65535" step="1" pattern="\d+"></input>
          </div>
          <label>
            <select class="input-text" required ng-disabled="hasProviderPreset"  ng-model="smtpEncryption">
              <option value="" disabled selected style="display:none">Encryption method</option>
              <option value="2">TLS</option>
              <option value="1">STARTTLS</option>
              <option value="0">None</option>
            </select>
          </label>
        </fieldset>
      </div><!--/.details-->

      <div class="working" ng-show="busy">
        <span class="spinner"></span>
      </div>

      <div>
        <button type="submit" ng-disabled="form.$invalid" ng-click="test()" class="btn">Login</button>
      </div>

    </form>
  </div><!--/.content-->
</div>