<section class="page">
  <div class="page__canvas">
    <header class="page__header">
      <img src="img/whiteout_logo.svg" alt="whiteout.io">
    </header>
    <main class="page__main">
      <h2 class="typo-title">Import PGP key</h2>
      <p class="typo-paragraph">Please import an existing key. You can import a key via copy/paste or from the filesystem.</p>

      <form class="form" name="form">
        <p class="form__error-message" ng-show="errMsg">{{errMsg}}</p>
        <div class="form__row">
          <textarea class="textarea" placeholder="Paste PRIVATE PGP KEY BLOCK here..." ng-model="pastedKey" ng-change="pasteKey(pastedKey)" tabindex="1"></textarea>
        </div>
        <div class="form__row">
          <input class="input-file" type="file" file-reader tabindex="2">
        </div>
        <div class="form__row">
          <input class="input-text" type="password" ng-model="passphrase"
            ng-class="{'input-text--error':incorrect}" placeholder="Passphrase" tabindex="3">
        </div>
        <div class="spinner-block" ng-show="busy">
          <span class="spinner spinner--big"></span>
        </div>
        <div class="form__row">
          <button type="submit" ng-click="confirmPassphrase()" class="btn" tabindex="4">Import</button>
        </div>
      </form>

      <p class="typo-paragraph">
        <a href="https://whiteout.io/revocation.html" title="Click here to reset your account." target="_blank">
          Lost your keyfile or passphrase?
        </a>
      </p>
    </main>
    <div ng-include="'tpl/page-footer.html'"></div>
  </div>
</section>