<section class="page">
  <div class="page__canvas">
    <header class="page__header">
      <img src="img/whiteout_logo.svg" alt="whiteout.io">
    </header>
    <main class="page__main">

      <h2 class="typo-title">Enter backup code</h2>
      <p class="typo-paragraph">Please enter the backup code you wrote down during setup to read encrypted messages on this device.</p>
      <form class="form" name="form">
        <p class="form__error-message" ng-show="errMsg">{{errMsg}}</p>

        <div class="form__row">
          <input type="text" class="input-text" ng-model="code" wo-input-code
            required pattern="([a-zA-Z0-9\-]*)" placeholder="0000-0000-0000-0000-0000-0000"
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </div>
        <div class="spinner-block" ng-show="busy">
          <span class="spinner spinner--big"></span>
        </div>
        <div class="form__row">
          <button class="btn btn--big" type="submit" ng-click="checkCode()">Confirm code</button>
        </div>
      </form>

      <p class="typo-paragraph">
        <a href="#login-new-device">
          Or import PGP key as file
        </a>
      </p>

    </main>
    <div ng-include="'tpl/page-footer.html'"></div>
  </div>
</section>
