<div class="view-login view-login-existing">
  <div class="logo-wrapper">
    <div class="logo"></div>
  </div><!--/logo-->

  <div class="content">
    <p><b>Unlock mailbox.</b> Please enter your passphrase to unlock the mailbox.</p>

    <form>
      <div>
       <input class="input-text" type="password" ng-model="passphrase" ng-change="change()" ng-class="{'input-text-error':incorrect}" placeholder="Passphrase" tabindex="1" focus-me="true">
       <span class="popover-info" data-icon-append="&#xe010;" popover="#passphrase-info"></span>
      </div>
      <div>
        <button type="submit" ng-click="confirmPassphrase()" class="btn" data-icon="&#xe009;" ng-disabled="!buttonEnabled" tabindex="2">Unlock</button>
      </div>
    </form>
  </div><!--/content-->
</div>

<!-- lightbox -->
<div class="lightbox-overlay" ng-class="{'show': state.dialog.open}">
  <div class="lightbox lightbox-effect dialog view-dialog" ng-include="'tpl/dialog.html'"></div>
</div>

<!-- popovers -->
<div id="passphrase-info" class="popover right" ng-controller="PopoverCtrl">
  <div class="arrow"></div>
  <div class="popover-title"><b>What is this?</b></div>
  <div class="popover-content">
    <p>A passphrase is like a password that protects your PGP key.</p>
    <p>There is no way to access your messages without your passphrase.</p>
    <p>If you have forgotten your passphrase, please request an account reset by sending an email to <b>support@whiteout.io</b>. You will not be able to read previous messages after a reset.</p>
  </div>
</div><!--/.popover-->