<div class="view-mail-list" ng-controller="MailListCtrl">
  <!-- nav controll and section headline -->
  <header data-icon="&#xe004;" ng-click="state.nav.toggle(true); $event.stopPropagation()">
    <h2>{{state.nav.currentFolder.type}}</h2>
  </header>

  <div class="search">
    <input ng-model="searchText" placeholder="Find">
  </div>

  <div class="list-wrapper" ng-iscroll="state.nav.currentFolder.messages.length">
    <ul class="mail-list">
      <li ng-class="{'mail-list-active': email === state.mailList.selected, 'mail-list-attachment': email.attachments !== undefined && email.attachments.length > 0, 'mail-list-unread': email.unread && !email.answered, 'mail-list-replied': email.answered}" ng-click="select(email)" ng-repeat="email in state.nav.currentFolder.messages | orderBy:'uid':true | filter:searchText">
        <h3>{{email.from[0].name || email.from[0].address}}</h3>
        <div class="head">
          <p class="subject">{{email.subject || 'No subject'}}</p>
          <time>{{email.sentDate | date:'mediumDate'}}</time>
        </div>
        <p class="body">{{email.body}}</p>
      </li>
    </ul><!--/.mail-list-->
  </div>

  <footer ng-class="{syncing: account.busy}" ng-click="synchronize()">
    <span class="spinner"></span>
    <span class="text">{{lastUpdateLbl}} {{lastUpdate | date:'shortTime'}}</span>
  </footer>
</div><!--/.view-mail-list-->