<div data-role="header" data-position="fixed">
  <a href="#accounts/<%- account %>/folders" data-role="button" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Back</a>
  <h1><%- folder %>: <%- account %></h1>
</div><!-- /header -->

<div data-role="content">
  <ul id="message-list" data-role="listview" data-filter="true" data-theme="d" data-divider-theme="d"></ul>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
  <input type="button" data-icon="refresh" id="refreshBtn" data-iconpos="notext" class="ui-btn-left">
  <h4></h4>
  <a href="#compose/<%- account %>/folders/<%- folder %>" data-role="button" data-icon="plus" data-iconpos="notext" class="ui-btn-right"></a>
</div><!-- /footer -->