<div class="buttons">
  <div ng-click="write()" class="circle btn-shadow">
    <div class="icon-new-mail"></div>
  </div>

  <div class="circle btn-shadow">
    <div class="icon-reply"></div>
  </div>

  <div class="circle btn-shadow">
    <div class="icon-delete"></div>
  </div>
</div><!--/.buttons-->

<div class="read-message">
  <p class="subject">{{selected.subject}}</p>
  <p class="date">{{selected.longDisplayDate}}</p>

  <div class="address-headers">
    <p>From: <span class="address">{{selected.from[0].name || selected.from[0].address}}</span></p>
    <p>To: <span class="address" ng-repeat="t in selected.to">{{t.address}} </span></p>
    <div ng-switch="selected.cc !== undefined">
      <p ng-switch-when="true">
        CC: <span class="address" ng-repeat="t in selected.cc">{{t.address}} </span>
      </p>
    </div>
  </div><!--/.address-headers-->

  <div class="seperator-line"></div>

  <div class="mail-text-body">
    <p ng-repeat="part in selected.bodyDisplayParts">{{part}}</p>
  </div>
</div><!--/.read-message-->