<div class="view-set-credentials view-login">

  <div class="logo-wrapper">
    <div class="logo"></div>
  </div><!--/logo-->

  <div class="content">
    <p><b>Login.</b> Please enter your email address and password. The password is used to authenticate directly with your mail provider and is not sent to our servers.</p>

    <form>
      <div>
        <input class="input-text" type="email" ng-model="emailAddress" placeholder="Email address" focus-me="true" tabindex="1" value="safewithme.testuser@gmail.com"></input>
        <input class="input-text" type="password" ng-model="password" ng-class="{'input-text-error':incorrect}" placeholder="Password" tabindex="2" value="hellosafer">
      </div>
      <div>
        <button type="submit" ng-click="login()" class="btn" tabindex="3">Login</button>
      </div>
    </form>
  </div><!--/content-->

</div>