<div class="lightbox__body" ng-controller="SetPassphraseCtrl">
  <header class="lightbox__header">
    <h2>Set passphrase</h2>
    <button class="lightbox__close" wo-touch="state.setPassphrase.toggle(false)" data-action="lightbox-close">
      <svg><use xlink:href="#icon-close" /><title>Close</title></svg>
    </button>
  </header>

  <div class="lightbox__content">
    <p class="typo-paragraph">
      You can set a passphrase to protect your key on disk. This must be entered everytime you start the app.
    </p>

    <form class="form" name="form">
      <div class="form__row">
        <input class="input-text" type="password" ng-model="oldPassphrase" placeholder="Current passphrase" tabindex="1" wo-focus-me="true">
      </div>

      <p class="form__error-message" ng-show="passphraseMsg">{{passphraseMsg}}</p>
      <div class="form__row form__row--multi">
        <div class="form__col">
          <input class="input-text" type="password" ng-model="newPassphrase"
            placeholder="New passphrase" tabindex="2">
        </div>
        <div class="form__col">
          <input class="input-text" type="password" ng-model="confirmation" placeholder="Confirm passphrase"
            ng-class="{'input-text--error': (confirmation || newPassphrase) && confirmation !== newPassphrase}" tabindex="3">
        </div>
      </div>
    </form>
  </div>

  <footer class="lightbox__controls">
    <button wo-touch="setPassphrase()" class="btn" ng-disabled="(confirmation || newPassphrase) && confirmation !== newPassphrase" tabindex="4">Set passphrase</button>
  </footer>
</div>