<!-- Render lines of a text-email in divs for easier styling -->
<div class="line"
  ng-if="node.children === undefined"
  ng-repeat="line in node.split('\n') track by $index"
  ng-class="{'empty-line': lineEmpty(line)}">
  <span ng-bind-html="line | createAnchors"></span>
  <br>
</div><!--/.line-->

<!-- recursively render child node -->
<div class="prev-message"
  ng-include="'tpl/text-node.html'"
  ng-if="node.children !== undefined"
  ng-repeat="child in node.children track by $index"
  onload="node = child">
</div>