<div class="view-write">
  <p class="title">New Mail</p>

  <div class="address-headers">
    <p>
      <span>To:</span>
      <input ng-model="to" class="address-input" tabindex="1" focus-me >
    </p>
    <p>
      <span>Cc:</span>
      <input ng-model="cc" class="address-input" tabindex="2">
    </p>
  </div><!--/.address-headers-->

  <div class="subject-box">
    <div class="subject-line">
      <input ng-model="subject" class="subject" spellcheck="true" tabindex="3" placeholder="Subject" ng-change="updatePreview()">
    </div>
    <button class="btn-attachment">
      <div data-icon="&#xe003;"></div>
    </button>
  </div><!--/.subject-box-->

  <div class="mail-text-body">
    <p ng-model="body" contentEditable="true" ng-change="updatePreview()" tabindex="4"></p>

    <div class="encrypt-preview">
      <p>-----BEGIN ENCRYPTED PREVIEW-----<br>{{ciphertextPreview}}<br>-----END ENCRYPTED PREVIEW-----</p>
      <br>
      <p>{{signature}}</p>
    </div><!--/.encrypt-preview-->
  </div><!--/.mail-text-body-->

  <div class="send-control">
    <button ng-click="sendEmail()" class="btn" ng-disabled="!to" tabindex="5">Send securely</button>
  </div>
</div>