<div class="write-message">
  <p class="title">New Mail</p>

  <div class="address-headers">
    <p>To: <span class="address">Max Musterman</span></p>
    <p>CC: <span class="address">Alice Example</span> <span class="address">Hans Wurst</span></p>
  </div><!--/.address-headers-->

  <div class="subject-box">
    <div class="subject-line">
      <input ng-model="subject" class="subject" spellcheck="true" tabindex="1" placeholder="Subject" ng-change="updatePreview()">
    </div>
    <div class="attachment-btn btn-shadow">
      <div class="icon-attachment"></div>
    </div>
  </div><!--/.subject-box-->

  <div class="mail-text-body">
    <p ng-model="body" contentEditable="true" ng-change="updatePreview()" focus-me ></p>

    <div class="encrypt-preview">
      <p>-----BEGIN ENCRYPTED PREVIEW-----<br>{{ciphertextPreview}}<br>-----END ENCRYPTED PREVIEW-----</p>
      <p>--</p><p>{{signature}}</p>
    </div><!--/.encrypt-preview-->
  </div><!--/.mail-text-body-->

  <div class="send-btn btn-shadow">Send securely</div>
</div>