<div class="lightbox-body" ng-controller="WriteCtrl">
  <header>
    <h2>{{writerTitle}}</h2>
    <button class="close" ng-click="closeWriter()" data-action="lightbox-close">&#xe007;</button>
  </header>
  <div class="content">

    <div class="view-write">
      <div class="headers">
        <p>
          <span>To:</span>
          <input type="email" ng-model="to" ng-change="verifyTo()" ng-class="{'label': toSecure === true, 'label label-primary': toSecure === false}" tabindex="1" focus-me="writerOpen" auto-size="to" spellcheck="false">
        </p>
        <p>
          <span>Cc:</span>
          <input type="email" ng-model="cc" tabindex="2" disabled>
        </p>
      </div><!--/.address-headers-->

      <div class="subject-box">
        <div class="subject-line">
          <input ng-model="subject" class="subject" spellcheck="true" tabindex="3" placeholder="Subject" ng-change="updatePreview()">
        </div>
        <button class="btn-attachment">
          <div data-icon="&#xe003;"></div>
        </button>
      </div><!--/.subject-box-->

      <div class="body">
        <p ng-model="body" contentEditable="true" ng-change="updatePreview()" tabindex="4"></p>

        <div class="encrypt-preview">
          <p>-----BEGIN ENCRYPTED PREVIEW-----<br>{{ciphertextPreview}}<br>-----END ENCRYPTED PREVIEW-----</p>
          <br>
          <p>{{signature}}</p>
        </div><!--/.encrypt-preview-->
      </div><!--/.body-->

      <div class="send-control">
        <button ng-click="sendToOutbox()" class="btn" data-icon="{{(toSecure === false) ? '&#xe001;' : (toSecure === true) ? '&#xe009;' : ''}}" ng-disabled="!to" tabindex="5">{{sendBtnText || 'Send'}}</button>
      </div>
    </div><!--/.write-view-->

  </div><!--/.content-->
</div><!--/.lightbox-body-->