---
title: Paragraph
description: >
  Paragraph with margin bottom and additional styles for
  <code class="sg-typo-code">strong</code>, <code class="sg-typo-code">em</code>,
  and <code class="sg-typo-code">a</code>.
---

<p class="typo-paragraph">
  Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.
  <em>Accusamus possimus</em> officiis quia perferendis quo assumenda,
  recusandae repellat? Iusto vero, temporibus debitis eveniet
  qui libero excepturi, <a href="#">architecto laborum</a> assumenda, modi aperiam.
</p>
