---
title: Checkbox
description: >
    Works only in combination with JavaScript or a clickable <code class="sg-typo-code">&lt;label&gt;</code>.
---

<span class="checkbox">
    <input type="checkbox">
    <span><svg role="presentation"><use xlink:href="#icon-check" /></svg></span>
</span>
<span class="checkbox">
    <input type="checkbox" checked>
    <span><svg role="presentation"><use xlink:href="#icon-check" /></svg></span>
</span>