---
title: Form fieldset
description: >
  Use to group form inputs.
---

<fieldset class="form-fieldset">
  <legend>Legend</legend>
  <div class="form__row">
    <input class="input-text" type="text">
  </div>
  <div class="form__row">
    <input class="input-text" type="text">
  </div>
</fieldset>
