---
title: Form input with button
description: >
  Use to group form inputs.
---

<div class="form-input-with-button">
  <input class="input-text" type="text">
  <button class="btn">Button</button>
</div>
