---
title: Select input
description: >
  Custom styled select input.
  <strong>Attention:</strong> Webkit support only!
---

<label class="input-select">
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
</label>
