---
title: Checkbox input
description: >
    Custom checkbox input constists of custom checkbox plus label.
---

<label class="input-checkbox">
  <span class="checkbox">
    <input type="checkbox">
    <span><svg role="presentation"><use xlink:href="#icon-check" /></svg></span>
  </span>
  Label
</label>
