---
title: Search bar
description: >
    There a regular and a light search bar.
---

<div class="search">
  <svg><use xlink:href="#icon-search" /><title>Search</title></svg>
  <input class="input-text" type="text" placeholder="Search">
</div>
&nbsp;
<div class="search search--light">
  <svg><use xlink:href="#icon-search" /><title>Search</title></svg>
  <input class="input-text" type="text" placeholder="Search">
</div>
