---
title: Regular button
description: >
  There are various button types. All button types support to be disabled
  via attribute <code class="sg-typo-code">disabled</code> or
  <code class="sg-typo-code">aria-disabled="true"</code>.
---

<button class="btn">
  <svg><use xlink:href="#icon-close" /><title>Delete</title></svg>
  Regular
</button>
<button class="btn" disabled>
  <svg><use xlink:href="#icon-close" /><title>Delete</title></svg>
  Disabled regular
</button>
