---
title: Invalid button
description: >
  Use to show invalid state of a form.
---

<button class="btn btn--invalid">
  <svg><use xlink:href="#icon-close" /><title>Delete</title></svg>
  Invalid
</button>
