---
title: Light dropbown button
description: >
  Use in combination with JavaScript and <code class="sg-typo-code">.dropdown</code>.
---

<button class="btn btn--light-dropdown">
  Dropdown
  <svg class="btn__dropdown" role="presentation"><use xlink:href="#icon-dropdown" /></svg>
</button>
