---
title: Secondary button
description: >
  Use in conjuction with another primary regular button.
---

<button class="btn btn--secondary">
  <svg><use xlink:href="#icon-close" /><title>Delete</title></svg>
  Secondary
</button>
