<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} | Whiteout Mail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>

    <!-- inline icons have to come first, hide immediately with inline styles -->
    <div style="width: 0; height: 0; visibility: hidden;">
        {{glob "src/img/icons/all.svg"}}
    </div>

    {{> body}}

</body>
</html>