/* global */

body, input, button {
    font-family: 'PT Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-text-color;
}

.address-headers {
    color: $header-text-color;

    p {
        line-height: 2.2em;
    }
}

.address {
    margin-left: 0.3em;
    padding: 0.25em 1em;
}

.address-verified {
    color: $lightgrey-color;
    background-color: $blue-color;
    border-radius: 1em;
    box-shadow: 1px 1px 0px $blue-box-shadow-color;
}

.btn-shadow {
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 4px $blue-box-shadow-color;
    }
    &:active {
        box-shadow: none;
        margin-top: 0.2em;
    }
}

.mail-text-body {
    line-height: 1.5em;
}