@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    src: url('icons.ttf') format('truetype');
}

.icon-reply, .icon-new-mail, .icon-delete, .icon-add-user, .icon-attachment {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-reply:before {
    content: "\e000";
    margin-left: -0.15em;
}
.icon-new-mail:before {
    content: "\e001";
    margin-left: -0.05em;
}
.icon-delete:before {
    content: "\e002";
    font-size: 1.15em;
    margin-left: 0.03em;
}
.icon-add-user:before {
    content: "\e003";
}
.icon-attachment:before {
    content: "\e004";
}