/* folder name */

.folder-name {
    position: absolute;
    padding: 13px 15px;

    p {
        font-size: 1.5em;
    }
}

.hamburger-btn {
    float: left;
    background-color: $lightgrey-color;
    height: 1em;
    width: 1.3em;
    margin-right: 10px;

    .blue-box {
        float: inherit;
        background-color: $blue-color;
        height: 5px;
        width: 100%;
        box-shadow: 1px 1px 1px $lightgrey-box-shadow-color;
        margin-bottom: 0.16em;
    }
}

/* message list */

.message-list {
    background-color: $lightgrey-color;
    padding: 46px 15px;
    width: inherit;

    @mixin marked {
        background-color: $blue-color;
        color: $lightgrey-color;
         .sent-date, .from {
            color: $lightgrey-color;
        }
    }

    @mixin read-bubble {
        position: absolute;
        margin-top: 1.95em;
        margin-left: 0.5em;
        width: 0.9em;
        height: 0.9em;
        border-radius: 50%;
    }
    @mixin read-bubble-grey {
            background: $lightgrey-color;
            box-shadow: inset 1px 1px 1px $lightgrey-box-shadow-color;
    }
    @mixin read-bubble-blue {
        background: $blue-color;
        box-shadow: inset 0.5px 1px 1px $blue-box-shadow-color;
    }

    .unread {
        @include read-bubble;
        @include read-bubble-blue;
    }

    .read {
        @include read-bubble;
        @include read-bubble-grey;
    }

    li {
        background-color: white;
        margin: 8px 0;
        padding: 10px 0;
        height: 85px;
        .from {
            color: $blue-color;
        }

        &:hover {
            background-color: $lightgrey-color;
        }
        &:hover.selected {    
            @include marked;
        }

        p {
            margin-left: 32px;
            margin-right: 32px;
        }
        .from {
            font-size: 1.5em;
        }
        .subject-line {
            font-size: 0.875em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
        .subject {
            font-weight: bold;
        }
        .sent-date {
            float: right;
            color: $grey-text-color;
        }
        .text-preview {
            font-size: 0.875em;
            line-height: 1.2em;
            height: 2.35em;
            overflow: hidden;
        }
    }

    li.selected {
        @include marked;

        .unread {
            @include read-bubble-grey;
        }
    }
}