/* message-list-desktop */

.left-listing {
    float: left;
    width: 344px;
    border: 1px;
    border-right-style:solid;
    border-color: $grey-text-color;
}

.right-reader {
    margin-left: 344px;
}