/* read view */

.read-message {
    padding: 10px 15px;

    .subject {
        font-size: 1.5em;
    }

    .date {
        color: $grey-text-color;
        font-size: 0.875em;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    .address-headers {
        color: $header-text-color;

        p {
            line-height: 1.9em;
        }

        .address {
            color: $blue-color;
        }
    }

    .seperator-line {
        height: 1px;
        color: $grey-border-color;
        background-color: $grey-border-color;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .body {
        line-height: 1.5em;

        p {
            margin-bottom: 1em;
        }
    }
}

.buttons {
    float: right;
    margin: 10px 15px;
    color: $blue-color;
}

.circle {
    float: right;
    width: 2em;
    height: 2em;
    border: 2px;
    border-style: solid;
    border-color: $blue-color;
    border-radius: 50%;
    margin-left: 0.5em;

    &:hover {
        box-shadow: 3px 3px 4px $blue-box-shadow-color;
    }
    &:active {
        box-shadow: none;
        margin-top: 0.2em;
    }

    div {
        margin: 0.5em;
    }
}