/* colors */

$default-text-color: #333333;
$blue-color: #00c6ff;
$lightgrey-color: #f9f9f9;
$blue-box-shadow-color: #A4A4A4;
$lightgrey-box-shadow-color: #D8D8D8;

/* global */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(pt-sans.ttf) format('truetype');
}

body {
    font-family: 'PT Sans', sans-serif;
    color: $default-text-color;
}

/* import view modules */

@import "message-list-desktop";
@import "message-list";
@import "read";