.inset {
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	font-family: Georgia, serif;
	font-weight: bold;
	font-style: italic;
	color:#505050;
	text-shadow: 1px 1px 0px #101010, -1px -1px 0px #808080;
}

a.inset:hover {
	text-decoration: none;
	color:#505050;
}

textarea.ui-input-text {
	height : 400px;
}

.ui-btn-inline {
	margin-left: 0px;
}

#loginImg {
	margin-top: 40px;
	margin-bottom: 10px;
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('images/key-128.png');
	background-repeat: no-repeat;
}

#loginForm {
	padding: 10px 20px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}