/* write view */

.write-message {
    padding: 10px;

    .title {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .subject-box {
        margin: 20px 0;
        width: inherit;
        border: 1px;
        border-style: solid;
        border-color: $grey-border-color;
        height: 2.625em;

        .subject-line {
            float: left;
            padding: 0.563em;
            width: 80%;
            color: $header-text-color;
        }

        .subject {
            border: 0!important;
            font-weight: bold;
            font-size: 1em;
            width: 100%;
            color: $default-text-color;
            outline: 0px;
        }

        .attachment-btn {
            float: right;
            padding: 0.5em;
            margin: 0.3125em;
            color: $lightgrey-color;
            background-color: $blue-color;
        }
    }

    *[contentEditable] {
        outline: 0px;
    }

    .encrypt-preview {
        margin-top: 1.5em;
        font-family: monospace;
        color: $grey-text-color;
        word-wrap: break-word;
    }

    .send-btn {
        background-color: $blue-color;
        color: $lightgrey-color;
        padding: 0.813em;
        position: absolute;
        bottom: 10px;
        right: 10px;
        box-shadow: 1px 1px 0px $blue-box-shadow-color;

        &:hover {
            box-shadow: 2px 2px 4px $blue-box-shadow-color;
        }
        &:active {
            box-shadow: none;
            margin-top: 0.2em;
        }
    }
}