---
title: Styleguide
---

<section class="sg-section">
    <h2 class="sg-typo-section-title">Icons</h2>
    <div class="sg-block">
        <div class="sg-block__description">
            <h3 class="sg-typo-description-title">Available icons</h3>
            <p class="typo-paragraph">
                All icons are available via inline svg and the <code class="sg-typo-code">xlink:href</code>
                attribute of the <code class="sg-typo-code">&lt;use&gt;</code> tag.
            </p>
        </div>
        <div class="sg-block__example">
            <ul class="sg-icon-list">
                {{#compose  src="src/img/icons/[!all]*.svg"}}
                    <li>
                        <svg role="presentation"><use xlink:href="#icon-{{stripFileExtension @filename}}" /></svg>
                        {{@filename}}
                    </li>
                {{/compose}}
            </ul>
        </div>
    </div>
</section>
