.dialog {
    padding: 0px;
    color: $color-grey-dark;

    a {
        color: $color-blue;
    }

    .control {
        float: right;

        button {
            border: 0!important;
        }
    }
}