
// Icon attributes
// -------------------------------------------

[data-icon]:before {
    font-family: $font-family-icons;
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
[data-icon-append]:after {
    font-family: $font-family-icons;
    content: attr(data-icon-append);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}