.input-text {
    background-color: white;
    border: 1px solid $color-grey-lighter;
    color: $color-grey;
    font-size: $font-size-base;
    padding: 8px 10px;
    outline: none;
    // ios
    border-radius: 0;
    -webkit-appearance: none;
}

:invalid,
.ng-invalid,
.input-text-error {
    border-color: red;
}

.input-error-message {
    margin: 5px 0;
    padding: 0;
    color: red;
    font-size: em(13);
}

