.input-text {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: $color-grey-lighter;
    color: $color-grey;
    font-size: $font-size-base;
    padding: 8px 10px;
    outline: none;
}

.input-search {
    width: 93%;
    -webkit-appearance: searchfield;
}