.main-content {
    @include clearfix();
    height: 100%;
}

.column {
    height: 100%;
    overflow: hidden;

    @include respond-to(mobile) {
        display: none;
        width: 100%;
    }
}

.column-left {
    float: left;

    @include respond-to(mobile) {
        display: block;
    }

    @include respond-to(desktop) {
        width: $content-nav-width;
        border-right: 1px solid $color-grey-light;
    }
}

.shift-right {
    @include respond-to(mobile) {
        .column {
            display: block;
        }
        .column-left {
            display: none;
        }
    }
}