// Navigation
// -------------------------

.nav-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.nav-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    @include respond-to(desktop) {
        transition: transform $time-nav-animation;
    }
}

.nav-menu-open .nav-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    @include respond-to(desktop) {
        transition: opacity $time-nav-animation;
    }
}

.nav-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    @include respond-to(desktop) {
        transition: opacity $time-nav-animation, width 0.1s $time-nav-animation, height 0.1s $time-nav-animation;
    }
}

.nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: $nav-width;
    max-width: $nav-max-width;
    height: 100%;
    background: $color-blue;
    background-image: linear-gradient(to right ,$color-blue 98%, darken($color-blue, 1%) 100%);
    @include respond-to(desktop) {
        transition: all $time-nav-animation;
    }
    border-right: 1px solid $color-grey-light;
}

.nav-effect.nav-menu-open .nav-pusher {
    transform: translate3d($nav-max-width, 0, 0);
}
@media(max-width: 450px) {
    .nav-effect.nav-menu-open .nav-pusher {
        transform: translate3d($nav-width, 0, 0);
    }
}

.nav-effect.nav-menu {
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}

.nav-effect.nav-menu-open .nav-effect.nav-menu {
    visibility: visible;
    @include respond-to(desktop) {
        transition: transform $time-nav-animation;
    }
    transform: translate3d(0, 0, 0);
}

.nav-effects.nav-menu::after {
    display: none;
}
