/*
 * Copyright 2013 Twitter, Inc under the Apache 2.0 license.
 * From Bootstrap popover https://github.com/twbs/bootstrap
 */
.popover {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: block;
    z-index: 1010;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
    opacity: 0;

    &.top {
        margin-top: -10px;
    }
    &.right {
        margin-left: 10px;
    }
    &.bottom {
        margin-top: 10px;
    }
    &.left {
      margin-left: -10px;
    }
    .popover-title {
        margin: 0;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ebebeb;
        border-radius: 5px 5px 0 0;
    }
    .popover-content {
        padding: 9px 14px;
    }
    .arrow,
    .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
    .arrow {
        border-width: 11px;
    }
    .arrow:after {
        border-width: 10px;
        content: "";
    }
    &.top .arrow {
        left: 50%;
        margin-left: -11px;
        border-bottom-width: 0;
        border-top-color: #999999;
        border-top-color: rgba(0, 0, 0, 0.25);
        bottom: -11px;
    }
    &.top .arrow:after {
        content: " ";
        bottom: 1px;
        margin-left: -10px;
        border-bottom-width: 0;
        border-top-color: #ffffff;
    }
    &.right .arrow {
        top: 50%;
        left: -11px;
        margin-top: -11px;
        border-left-width: 0;
        border-right-color: #999999;
        border-right-color: rgba(0, 0, 0, 0.25);
    }
    &.right .arrow:after {
        content: " ";
        left: 1px;
        bottom: -10px;
        border-left-width: 0;
        border-right-color: #ffffff;
    }
    &.bottom .arrow {
        left: 50%;
        margin-left: -11px;
        border-top-width: 0;
        border-bottom-color: #999999;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        top: -11px;
    }
    &.bottom .arrow:after {
        content: " ";
        top: 1px;
        margin-left: -10px;
        border-top-width: 0;
        border-bottom-color: #ffffff;
    }
    &.left .arrow {
        top: 50%;
        right: -11px;
        margin-top: -11px;
        border-right-width: 0;
        border-left-color: #999999;
        border-left-color: rgba(0, 0, 0, 0.25);
    }
    &.left .arrow:after {
        content: " ";
        right: 1px;
        border-right-width: 0;
        border-left-color: #ffffff;
        bottom: -10px;
    }
}

.popover-info {
    color: $color-blue;
    margin-left: 5px;

    &:hover {
        cursor: pointer;
    }
}