.spinner {
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.2em;
    height: 1em;
    width: 1em;
    animation: spinner-rotation .6s linear infinite;
    border-left: 0.17em solid $color-grey-light;
    border-right: 0.17em solid $color-grey-light;
    border-bottom: 0.17em solid $color-grey-light;
    border-top: 0.17em solid $color-grey;
    border-radius: 100%;
}

@keyframes spinner-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}