@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../pt-sans.ttf) format('truetype');
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* Inbox */

.hamburger {
    background-image:url('../img/Inbox.png');
    background-repeat: no-repeat;
    width: 55px;
    height: 40px;
}

/* message list */

@mixin marked {
    background-color: #00c6ff;
    color: #ffffff;
    .from {
        color: #ffffff;  
    }
}

@mixin unmarked {
    color: #000000;
    .from {
        color: #00c6ff;  
    }
}   

.message-list {
    background-color: #f9f9f9;
    padding: 46px 15px;
    width: 314px;

    ul {
        list-style-type: none;      

        .selected {    
            @include marked;
        }      
    }

    li {
        background-color: #ffffff;
        font-size: 14px;
        margin: 8px 0;
        padding-top: 15px;
        height: 105px;

        @include unmarked;

        &:hover {
            background-color: #f9f9f9;
            @include unmarked;
        }
        &:hover.selected {    
            @include marked;
        }

        .from {
            font-size: 24px;
        }
        .subject {            
            font-weight: bold;
        }
        .text-preview {
        }

        p {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}

