---
title: Toolbar with actions
description: List of buttons.
---

<div class="toolbar">
  <ul class="toolbar__actions">
    <li>
      <button class="btn-icon-light">
        <svg><use xlink:href="#icon-folder" /><title>Move mail</title></svg>
      </button>
    </li>
    <li>
      <button class="btn-icon-light">
        <svg><use xlink:href="#icon-folder" /><title>Move mail</title></svg>
      </button>
    </li>
    <li>
      <button class="btn-icon-light">
        <svg><use xlink:href="#icon-folder" /><title>Move mail</title></svg>
      </button>
    </li>
  </ul>
</div>
