---
title: Toolbar with label
description: Use as headline with integrated back button.
---

<div class="toolbar">
  <a class="toolbar__label" href="#">
    <svg><use xlink:href="#icon-back" /><title>Back</title></svg>
    Label
  </a>
</div>
