.read {
    $padding-horizontal: 15px;
    $padding-vertical: 10px;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    // Toolbars

    &__folder-toolbar {
        flex-shrink: 0;
        border-bottom: 1px solid $color-border-light;
        @include respond-to(md) {
            display: none;
        }
    }
    &__action-toolbar {
        flex-shrink: 0;
        order: 100; // stick to bottom on mobile
        border-top: 1px solid $color-border-light;
        @include respond-to(md) {
            order: initial;
            border-top: none;
            border-bottom: 1px solid $color-border-light;
        }
        @include respond-to(lg) {
            display: none;
        }
    }

    // Header components

    &__header {
        flex-shrink: 0;
        margin-bottom: 1em;
        padding: $padding-vertical $padding-horizontal 0;

        & > .attachments {
            margin-top: 1em;
        }
    }
    // only visible in stripped version of read view
    .mail-addresses__stripped {
        display: none;
    }
    &__controls {
        display: none;
        float: right;
        margin-left: 1em;
        .btn-icon-light {
            margin-left: 1em;
        }
        @include respond-to(lg) {
            display: block;
        }
    }
    &__subject {
        font-weight: bold;
        color: $color-text;
        margin: 0 0 0.2em;
        &.wo-touch-active {
            background: $color-touch-active;
        }
        .btn-icon-very-light {
            float: right;
            margin-left: 1em;
        }

        @include respond-to(md) {
            display: none;
        }
    }
    &__subject-md {
        display: none;
        font-size: $font-size-bigger;
        font-weight: normal;
        margin: 0 0 0.2em;
        & > svg {
            display: none;
            fill: $color-main;
            vertical-align: baseline;
            height: 0.8em;
            width: 0.8em;
        }

        @include respond-to(md) {
            display: block;
        }
        @include respond-to(lg) {
            cursor: pointer;
            & > svg {
                display: inline-block;
            }
            &.wo-touch-active {
                background: $color-touch-active;
            }
        }
    }
    &__time {
        display: block;
        color: $color-text-light;
        font-size: $font-size-small;
        margin-bottom: 20px;
    }

    // Content components

    &__signature-status {
        flex-shrink: 0;
        margin-top: 0;
        margin-bottom: 0.5em;
        text-align: center;
        color: $color-error;
        padding: 0 $padding-horizontal;
    }
    &__display-images {
        flex-shrink: 0;
        margin-bottom: 0.5em;
        text-align: center;
        padding: 0 $padding-horizontal;
    }
    &__working {
        flex-grow: 1;
        padding: 0 $padding-horizontal;
        & > div {
            @include scut-vcenter-tt;
            width: 100%;
            text-align: center;
            font-size: $font-size-bigger;

            strong {
                color: $color-text-light;
                vertical-align: middle;
            }
        }
    }
    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        // allow scrolling on iOS
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0 $padding-horizontal $padding-vertical;

        iframe {
            flex-grow: 1;
            border: none;
            width: 100%;
        }
    }

    // Modifiers

    &--no-attachments {
        .read__header {
            padding-bottom: 0.5em;
            margin-bottom: 0.5em;
            border-bottom: 1px solid $color-border-light;
        }
    }
    @include respond-to(sm-only) {
        &--stripped {
            .read__addresses > * {
                display: none;
                &:first-child {
                    display: block;
                }
            }
            .mail-addresses__stripped {
                display: inline;
            }
        }
    }
}