---
title: List of attachments
description: List of attached files with optional delete button.
---

<ul class="attachments">
  <li>
    <svg><use xlink:href="#icon-attachment" /></svg>
    file1.txt
    <button class="attachments__delete">
      <svg><use xlink:href="#icon-close_circle" /><title>Delete</title></svg>
    </button>
  </li>
  <li>
    <svg><use xlink:href="#icon-attachment" /></svg>
    file1.txt
    <button class="attachments__delete">
      <svg><use xlink:href="#icon-close_circle" /><title>Delete</title></svg>
    </button>
  </li>
</ul>
