---
title: Dropdown
description: >
  The dropdown list is positioned absolutely within the application via JavaScript.
---

<ul class="dropdown dropdown--show" style="position: static;">
  <li><button><svg><use xlink:href="#icon-reply_light" /></svg> Reply</button></li>
  <li><button><svg><use xlink:href="#icon-reply_all_light" /></svg> Reply All</button></li>
</ul>
