---
title: Labels
description: There are various types of labels.
---

<span class="label">
  Regular
  <svg><use xlink:href="#icon-add_contact" /></svg>
</span>
<span class="label label--invalid">
  Invalid
  <svg><use xlink:href="#icon-add_contact" /></svg>
</span>
<span class="label label--invalid label--invalid-clickable">
  Clickable invalid
  <svg><use xlink:href="#icon-add_contact" /></svg>
</span>
<span class="label label--blank">
  Blank
  <svg><use xlink:href="#icon-add_contact" /></svg>
</span>
