---
title: List of mail addresses
description:
---

<div class="mail-addresses">
  <div class="mail-addresses__more">
    <button>Button1</button>
    <button>Button2</button>
  </div>
  <label>Label:</label>
  <span class="label">
    mail@example.com
    <svg><use xlink:href="#icon-add_contact" /></svg>
  </span>
  <span class="label">
    mail@example.com
    <svg><use xlink:href="#icon-add_contact" /></svg>
  </span>
  <span class="mail-addresses__stripped"></span>
</div>
