---
title: Tags input
description: Markup is generated via Angular directive ngTagsInput.
---

<div class="tags-input">
  <div class="host">
    <div class="tags">
      <ul class="tag-list">
        <li class="tag-item label">
          mail@example.com
          <a class="remove-button">×</a>
        </li>
        <li class="tag-item label label--invalid">
          mail@example.com
          <a class="remove-button">×</a>
        </li>
      </ul>
      <input class="input" type="email" placeholder="add recipient" style="width: 163px;">
    </div>
  </div>
</div>
