---
title: Tooltip
description: >
  The tooltip is positioned absolutely within the application via JavaScript.
---

<div class="tooltip tooltip--show" style="position: static;">
  <div class="tooltip__arrow"></div>
  <div class="tooltip__content">Content</div>
</div>
&nbsp;
<div class="tooltip tooltip--show" style="position: static;">
  <div class="tooltip__arrow"></div>
  <h5 class="tooltip__title">Optional title</h5>
  <div class="tooltip__content">Multi-line<br>Content</div>
</div>
