.view-dialog {
    max-width: 350px;
    height: auto;
    top: 30%;

    p {
        text-align: center;
        max-width: 80%;
        margin: 30px auto;
    }

    .control {
        button {
            width: 100px;
        }
    }
}