.view-dialog {
    height: auto;

    @include respond-to(md) {
        max-width: 350px;
    }

    p {
        text-align: center;
        max-width: 80%;
        margin: 30px auto;
    }

    .control {
        button {
            min-width: 100px;

            &.ng-animate {
                transition: none;
            }
        }
    }
}