.view-login {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: $color-grey-lightest;
    color: $color-grey-dark;

    .logo-wrapper {
        width: 320px;
        height: 58px;
        margin: 130px auto 75px;
    }

    .logo {
        background-image:url('../img/whiteout_logo.svg');
        background-repeat: no-repeat;
        background-size: 320px 58px;
        width: 320px;
        height: 58px;
    }

    .content {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        p {
            line-height: 150%
        }

        div {
            margin: 25px 0;
        }

        input {
            margin-right: 5px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: $color-grey-light;
            padding: 5px;
            outline: none;
        }

        .error {
            border: 1px solid red;
        }
    }
}

.view-login-existing {
    .content {
        max-width: 400px;
    }
}