.view-mail-list {
    $padding-horizontal: 15px;
    $padding-vertical: 10px;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: $color-white;

    header {
        flex-shrink: 0;
        cursor: pointer;
        padding: $padding-vertical $padding-horizontal;
        &:before {
            color: $color-blue;
            font-size: $font-size-bigger;
            margin-right: 0.5em;
            vertical-align: middle;
        }
        h2 {
            margin: 0;
            display: inline;
            color: $color-grey-dark;
            font-size: $font-size-bigger;
            font-weight: normal;
            vertical-align: middle;
            text-shadow: 0px 1px 1px $color-grey-lighter;
        }
        button {
            float: right;
            margin-top: -0.05em; // for perfect vertical alignment with headline

            @include respond-to(desktop) {
                display: none;
            }
        }
    }

    .search {
        flex-shrink: 0;
        padding: 0 $padding-horizontal $padding-vertical $padding-horizontal;
        margin: 0 auto;
        width: 100%;
    }

    .list-wrapper {
        flex-grow: 1;
        padding: 0 ($padding-horizontal - $scrollbar-width) 0 $padding-horizontal;
        overflow-y: scroll;
    }

    footer {
        flex-shrink: 0;
        position: relative;
        height: 28px;
        cursor: pointer;
        padding: 0 $nav-padding;
        background: $color-white;
        width: 100%;
        font-size: $font-size-smaller;
        color: $color-grey-dark;
        line-height: em(28,12);

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: $nav-padding;
            right: $nav-padding;
            height: 0;
            border-top: 1px solid $color-grey-medium;
        }

        .offline {
            &[data-icon]:before {
                padding-right: 0.5em;
            }
        }

        .spinner {
            display:none;
        }

        &.syncing {
            .spinner {
                display: inline-block;
            }
        }
    }

    @include respond-to(desktop) {
        background: $color-grey-lighterer;
        background-image: linear-gradient(to right ,$color-grey-lighterer 98%, darken($color-grey-lighterer, 1%) 100%);

        footer {
            background: darken($color-grey-lighterer, 1%);
            &:before {
                display: none;
            }
        }
    }
}