.view-mail-list {
    $padding-horizontal: 15px;
    $padding-vertical: 10px;
    height: 100%;

    background: $color-grey-lightest;
    background-image: linear-gradient(to right ,$color-grey-lightest 98%, darken($color-grey-lightest, 1%) 100%);

    header {

        cursor: pointer;
        padding: $padding-vertical $padding-horizontal;
        text-shadow: 0px 1px 1px $color-grey-lighter;
        &:before {
            color: $color-blue;
            font-size: $font-size-bigger;
            margin-right: 0.5em;
            vertical-align: middle;
        }
        h2 {
            margin: 0;
            display: inline;
            color: $color-grey-dark;
            font-size: $font-size-bigger;
            font-weight: normal;
            vertical-align: middle;
        }

    }

    .list-wrapper {
        height: 100%;
        padding: 0 $padding-horizontal;
        overflow-y: hidden;
    }

    ul {
        padding-bottom: 50px;
        @include respond-to(desktop) {
            padding-bottom: 78px;
        }
    }

    footer {
        height: 0px;
        @include respond-to(desktop) {
            height: 28px;
            cursor: pointer;
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 0 $nav-padding;
            background: darken($color-grey-lightest, 1%);
            width: $content-nav-width;
            border-right: 1px solid $color-grey-light;
            font-size: $font-size-smaller;
            color: $color-grey-dark;
            line-height: em(28,12);

            &.syncing {
                .spinner {
                    top: 6.5px;
                    left: $padding-horizontal;
                    height: 13px;
                    width: 13px;
                    position: absolute;
                    animation: rotation .6s linear infinite;
                    border-left: 2px solid $color-grey-light;
                    border-right: 2px solid $color-grey-light;
                    border-bottom: 2px solid $color-grey-light;
                    border-top: 2px solid $color-grey;
                    border-radius: 100%;
                }
                .text {
                    padding-left: 1.5em;
                }
            }
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}