.nav-menu {

    border: 1px;
    border-right-style: solid;
    border-color: $color-grey-medium;

    .content {

        h1, a {
            color: #fff;
            text-decoration: none;
        }

        header {
            padding: 0 $nav-padding;
            height: 84px;
            h1 {
                @include hide-text();
                background: url(../img/whiteout_logo_light.svg) left top no-repeat;
                background-size: contain;
                height: 30px;
                margin: 10px 0 0;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }

        ul.nav-primary {
            padding: 0 $nav-padding;
            li {
                display: block;

                a {
                    @include clearfix();
                    display: block;
                    font-size: $font-size-bigger;
                    vertical-align: middle;
                    border-bottom: 1px solid #fff;
                    line-height: 1.8em;
                    transition: background-color 0.3s;

                    .label-wrapper {
                        display: block;
                        float: right;
                    }
                    span.label {
                        line-height: 1.3em;
                        vertical-align: middle;
                    }
                    &.active, &:hover, &:focus {
                        background-color: mix($color-blue, $color-white, 70%);
                    }
                }
            }
            li:first-child {
                border-top: 1px solid #fff;
            }
        }

        ul.nav-secondary {
            margin-top: em(50, 16);
            padding: 0 $nav-padding;
            li {
                margin-bottom: 0.25em;

                a {
                    font-size: $font-size-big;
                }
            }
        }

        footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 0 $nav-padding;
            background: darken($color-blue, 1%);
            height: 28px;
            width: 100%;
            font-size: $font-size-smaller;
            color: #fff;
            line-height: em(28,12);
        }
    }
}