.view-privatekey-upload {

    a {
        color: $color-blue;
    }

    .step {
        margin: 20px 0;

        .working {
            text-align: center;
            font-size: 30px;
            margin: 70px;
        }
    }

}