.view-read {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px 15px;
    height: 100%;
    width: 100%;
    color: $color-grey-dark;

    .headers {
        flex-shrink: 0;
        margin-bottom: 1em;

        .subject {
            font-size: $font-size-bigger;
            margin: 0;
        }

        .date {
            color: $color-grey-medium;
            font-size: $font-size-small;
            margin-top: 0.25em;
            margin-bottom: 1.5em;
        }

        .mail-addresses {
            .label {
                cursor: pointer;
            }

            p {
                margin-top: 0.2em;
                margin-bottom: 0;
            }
        }

        .controls {
            float: right;
            margin: 0 15px 10px;

            button {
                margin-left: 7px;
            }
        }
    }

    .attachments {
        flex-shrink: 0;
        position: relative;
        width: inherit;
        border: 1px;
        border-style: solid;
        border-color: $color-grey-lighter;
        min-height: em(44);

        .attachment {
            height: 32px;
            border-radius: 16px;
            vertical-align: middle;
            margin: 5px 0 5px 5px;
            padding: 5px 10px 5px 10px;
            border: 1px;
            border-style: solid;
            border-color: $color-grey-lighter;
            display: inline-block;

            span {
                font-size: 14px;
                color: $color-grey-input;
                vertical-align: middle;
            }

            &:hover,
            &:focus {
                background-color: darken($color-white, 2%);
                cursor: pointer;
            }
        }
    }

    .seperator-line {
        flex-shrink: 0;
        height: 1px;
        color: $color-grey-lighter;
        background-color: $color-grey-lighter;
    }

    .body {
        flex-grow: 1;
        position: relative;
        margin-top: 1.75em;
        cursor: text;
        line-height: 1.5em;
        overflow-y: scroll;
        user-select: text;

        .working {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            vertical-align: middle;
            text-align: center;
            font-size: 2em;

            strong {
                color: $color-grey-input;
                vertical-align: middle;
            }
        }

        .line {
            word-wrap: break-word;

            a {
                color: $color-blue;
            }

            &.empty-line {
                line-height: 1em;
            }
        }
    }

    iframe {
        flex-grow: 1;
        width: 100%;
    }

    .reply-selection {
        .popover-content {
            padding: 0;
        }

        table {
            color: $color-blue;
            user-select: none;

            tr {
                &:hover,
                &:focus {
                    background-color: darken($color-white, 2%);
                    cursor: pointer;
                }

                &.seperator {
                    border-bottom: 1px solid $color-grey-lighter;
                }
            }

            td {
                padding: 7px 5px;

                &.left {
                    padding-left: 15px;
                    padding-top: 10px;
                }
                &.right {
                    padding-right: 15px;
                }
            }

        }
    }
}