.view-read {
    margin: 0px;
    padding: 10px 15px;
    height: 100%;
    color: $color-grey-dark;

    .headers {
        p {
            margin: 0px;
            padding: 0px;
        }

        .subject {
            font-size: $font-size-bigger;
        }

        .date {
            color: $color-grey-light;
            font-size: $font-size-small;
            margin-top: 0.25em;
            margin-bottom: 1.5em;
            padding: 0px;
        }

        .address {
            color: $color-grey;
            padding: 0.2em 0;

            .label {
                margin-left: 0.3em;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .seperator-line {
        height: 1px;
        color: $color-grey-lighter;
        background-color: $color-grey-lighter;
        margin-top: 1em;
        margin-bottom: 1.75em;
    }

    .body {
        cursor: text;
        padding-bottom: 200px;
        line-height: 1.5em;
        height: 100%;
        overflow-y: scroll;

        div {
            word-wrap: break-word;

            &.empty-line {
                line-height: 1em;
            }
        }
    }

    iframe {
        width: 100%;
    }
}

.controls {
    float: right;
    margin: 10px 15px;

    button {
        margin-left: 7px;
    }
}