.view-read {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px 15px;
    height: 100%;
    width: 100%;
    color: $color-grey-dark;

    .headers {
        flex-shrink: 0;
        margin-bottom: 1em;

        .subject {
            font-size: $font-size-bigger;
            margin: 0;
        }

        .date {
            color: $color-grey-medium;
            font-size: $font-size-small;
            margin-top: 0.25em;
            margin-bottom: 1.5em;
        }

        .mail-addresses {
            .label {
                cursor: pointer;
            }

            p {
                margin-top: 0.2em;
                margin-bottom: 0;
            }
        }

        .controls {
            float: right;
            margin: 0 15px 10px;

            button {
                margin-left: 7px;
            }
        }
    }

    .attachments-wrapper {
        flex-shrink: 0;

        .attachments {
            position: relative;
            width: inherit;
            border: 1px;
            border-style: solid;
            border-color: $color-grey-lighter;
            min-height: em(44);

            .attachment {
                height: 32px;
                border-radius: 16px;
                vertical-align: middle;
                margin: 5px 0 5px 5px;
                padding: 5px 10px 5px 10px;
                border: 1px;
                border-style: solid;
                border-color: $color-grey-lighter;
                display: inline-block;

                span {
                    font-size: 14px;
                    color: $color-grey-input;
                    vertical-align: middle;
                }

                &:hover,
                &:focus {
                    background-color: darken($color-white, 2%);
                    cursor: pointer;
                }
            }
        }

        .seperator-line {
            height: 1px;
            color: $color-grey-lighter;
            background-color: $color-grey-lighter;
        }
    }

    .working-wrapper {
        flex-grow: 1;
        position: relative;

        .working {
            @include scut-vcenter-tt;
            width: 100%;
            text-align: center;
            font-size: 2em;

            strong {
                color: $color-grey-input;
                vertical-align: middle;
            }
        }
    }

    iframe {
        flex-grow: 1;
        margin-top: 1.75em;
        width: 100%;
        height: 100%;
        border: none;
    }

    .body {
        flex-grow: 1;
        margin-top: 1.75em;
        line-height: 1.5em;
        overflow-y: scroll;
        user-select: text;

        .line {
            cursor: text;
            word-wrap: break-word;

            a {
                color: $color-blue;
            }

            &.empty-line {
                line-height: 1em;
            }
        }

        .prev-message {
            $prev-message-base-color: desaturate($color-blue, 50%);
            $prev-message-hue-rotate: 40deg;

            border-left: 2px solid $prev-message-base-color;
            color: $prev-message-base-color;
            padding-left: 0.5em;

            & > .prev-message {
                border-left-color: adjust-hue($prev-message-base-color, 1 * $prev-message-hue-rotate);
                color: adjust-hue($prev-message-base-color, 1 * $prev-message-hue-rotate);
                & > .prev-message {
                    border-left-color: adjust-hue($prev-message-base-color, 2 * $prev-message-hue-rotate);
                    color: adjust-hue($prev-message-base-color, 2 * $prev-message-hue-rotate);
                    & > .prev-message {
                        border-left-color: adjust-hue($prev-message-base-color, 3 * $prev-message-hue-rotate);
                        color: adjust-hue($prev-message-base-color, 3 * $prev-message-hue-rotate);
                        .prev-message {
                            border-left-color: adjust-hue($prev-message-base-color, 4 * $prev-message-hue-rotate);
                            color: adjust-hue($prev-message-base-color, 4 * $prev-message-hue-rotate);
                        }
                    }
                }
            }
        }
    }

    .reply-selection {
        .popover-content {
            padding: 0;
        }

        ul {
            list-style: none;
            margin: 0;
        }

        li {
            border-bottom: 1px solid $color-grey-lighter;
            &:last-child {
                border-bottom: 0;
            }
        }

        button {
            display: block;
            background: none;
            width: 100%;
            border: 0;
            outline: 0;
            padding: 0.5em 1em 0.5em 0.3em;
            color: $color-blue;
            transition: background-color 0.3s;
            text-align: left;

            &:before {
                display: inline-block;
                width: 2.5em;
                text-align: center;
                vertical-align: middle;
            }
            &:hover,
            &:focus {
                background-color: darken($color-white, 2%);
            }
        }
    }
}