.view-set-passphrase {

    p {
        margin: 40px auto 0;
        width: 90%;
    }

    .passphrase-label-ok {
        color: green;
    }

    .inputs {
        margin: 40px 60px 30px;

        div {
            margin: 5px 0;
        }
    }

    table {
        margin: 40px auto 60px auto;

        td {
            padding-top: 16px;

            &:first-child {
                text-align: right;
                padding-right: 16px;
                font-weight: bold;
            }
        }

        td.no-padding {
            padding-top: 0;
        }
    }

}