.view-set-passphrase {

    .inputs {
        margin: 40px 60px 30px;

        div {
            margin: 5px 0;
        }
    }

    table {
        margin: 50px auto 60px auto;
        
        td {
            padding-top: 15px;

            &:first-child {
                text-align: right;
                padding-right: 15px;
                font-weight: bold;
            }
        }
    }

}