.view-write {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    color: $color-grey-dark;
    overflow-y: hidden;

    height: 100%;
    @include respond-to(desktop) {
        height: 600px;
    }

    input {
        border: 0!important;
        outline: none;
    }

    button {
        border: 0!important;
    }

    .headers {
        flex-shrink: 0;
        margin-top: 10px;

        p {
            margin: 0.2em 0;
            padding: 0.2em 0;
            cursor: text;
        }

        span {
            color: $color-grey;
        }

        input {
            margin-left: 0.3em;
            width: 80%;
        }
    }

    .subject-box {
        flex-shrink: 0;
        position: relative;
        margin: 20px 0 7px 0;
        width: inherit;
        border: 1px;
        border-style: solid;
        border-color: $color-grey-lighter;
        height: em(44);

        .subject-line {
            padding: 10px;
            width: 80%;
            color: $color-grey;
        }

        .subject {
            font-weight: bold;
            width: 100%;
        }

        input[type=file] {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        .btn-attachment {
            position: absolute;
            top: 0;
            right: 0;
            padding: em(7.5) em(7.5) em(4) em(7.5);
            margin: em(5);
            font-size: 1em;
            outline: 0;

            &:active,
            &.active {
                top: 1px;
                right: -1px;
            }
        }
    }

    .attachments-box {
        flex-shrink: 0;
        position: relative;
        margin: 0 0 5px 0;
        width: inherit;
        border: 1px;
        border-style: solid;
        border-color: $color-grey-lighter;
        min-height: em(44);

        .attachment {
            height: 32px;
            border-radius: 16px;
            vertical-align: middle;
            margin: 5px 0 5px 5px;
            padding: 5px 5px 5px 10px;
            border: 1px;
            border-style: solid;
            border-color: $color-grey-lighter;
            cursor: default;
            display: inline-block;

            span {
                font-size: 14px;
                color: $color-grey-input;
                vertical-align: middle;
            }

            .close {
                margin-left: 5px;

                &:hover,
                &:focus {
                    color: darken($color-grey, 10%);
                    cursor: pointer;
                }
            }

            &:hover,
            &:focus {
                background-color: darken($color-white, 2%);
            }
        }
    }

    .body {
        flex-grow: 1;
        line-height: 1.5em;
        cursor: text;
        overflow-y: scroll;

        *[contentEditable] {
            outline: 0px;
            cursor: text;
        }

        .encrypt-preview {
            font-size: 0.9em;
            margin-top: 3em;
            font-family: monospace;
            color: $color-grey-light;
            word-wrap: break-word;
            transition: opacity 0.5s;
        }

        .invisible {
            opacity: 0;
        }
    }

    .send-control {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}