.view-write {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: $color-grey-dark;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    @include respond-to(desktop) {
        // this number depends on max-height set on .lightbox
        height: 590px; // magic number
    }

    p[field] input {
        border: 0;
        outline: none;
    }

    .mail-addresses {
        flex-shrink: 0;
        margin-top: 10px;

        p {
            position: relative;
            padding-left: 3em;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 3em;
        }

        .mail-addresses-more {
            position: relative;
            float: right;
            margin: 0.4em 0;
            z-index: 1;

            button {
                display: inline-block;
                background: none;
                padding: 0 0.5em;
                margin: 0;
                text-decoration: none;
                color: $color-black;
                transition: color 0.3s;
                border: 0;
                outline: 0;

                &:hover,
                &:focus {
                    color: $color-blue;
                    text-decoration: underline;
                }
            }
        }
    }

    .subject-box {
        flex-shrink: 0;
        position: relative;
        margin: 20px 0 7px 0;

        input[type=file] {
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
        }
        .input-text {
            font-weight: bold;
            width: 100%;
            height: 40px;
            padding-right: 10px + 5px + 30px;
        }
        .btn-attachment {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0;
            line-height: 30px;
            width: 30px;
            height: 30px;
            font-size: 1em;
            outline: 0;

            &:before {
                padding: 0;
            }
            &:active,
            &.active {
                top: 6px;
                right: 4px;
            }
        }
    }

    .attachments-box {
        flex-shrink: 0;
        position: relative;
        margin: 0 0 5px 0;
        width: inherit;
        border: 1px;
        border-style: solid;
        border-color: $color-grey-lighter;
        min-height: em(44);

        .attachment {
            height: 32px;
            border-radius: 16px;
            vertical-align: middle;
            margin: 5px 0 5px 5px;
            padding: 5px 5px 5px 10px;
            border: 1px;
            border-style: solid;
            border-color: $color-grey-lighter;
            cursor: default;
            display: inline-block;

            span {
                font-size: 14px;
                color: $color-grey-input;
                vertical-align: middle;
            }

            .close {
                margin-left: 5px;

                &:hover,
                &:focus {
                    color: darken($color-grey, 10%);
                    cursor: pointer;
                }
            }

            &:hover,
            &:focus {
                background-color: darken($color-white, 2%);
            }
        }
    }

    .body {
        flex-grow: 1;
        line-height: 1.5em;
        user-select: text;
        overflow-y: scroll;
        // allow scrolling on iOS
        -webkit-overflow-scrolling: touch;
        // put layer on GPU
        transform: translatez(0);

        *[contentEditable] {
            outline: 0px;
            cursor: text;
        }

        .encrypt-preview {
            font-size: 0.9em;
            margin-top: 3em;
            font-family: monospace;
            color: $color-grey-light;
            word-wrap: break-word;
            transition: opacity 0.5s;
        }

        .invisible {
            opacity: 0;
        }
    }

    .send-control {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}